<!-- Footer Start -->
<div class="container-fluid bg-footer text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <div class="vc_empty_space" style="height: 28px"><span class="vc_empty_space_inner"></span></div>
        <img src="https://i.pinimg.com/474x/5a/29/4c/5a294c09495bde0e3de153a4547c3af7.jpg"
             width="200" height="190" style="margin-left: 17%">
      </div>
      <div class="col-lg-5 col-md-6">
        <h5 class="mb-4 text-black">THÔNG TIN</h5>
        <p class="text-black">CodeGym - Hệ thống đào tạo lập trình viên hiện đại. Chương trình đào tạo sát với
          nhu cầu tuyển dụng của doanh nghiệp, lộ trình học tập và huấn luyện được cá nhân hoá
          đến từng học viên thông qua hệ thống phần mềm học tập hiện đại. Bạn sẽ được các huấn luyện
          viên và giảng viên hỗ trợ 1-1 trong suốt khóa học để đảm bảo bạn hoàn thành mục tiêu học tập.
          Bạn có thể học lại hoàn toàn miễn phí cho tới khi làm được việc.
        </p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="mb-4 text-black">CHI TIẾT</h5>
        <b class="text-black mb-4 text-black">Địa chỉ</b>
        <ul>
          <li class="mb-2 text-black">295 Nguyễn Tất Thành, Tp. Đà Nẵng, Việt Nam</li>
        </ul>
        <b class="text-black mb-4">Số điện thoại</b>
        <ul>
          <li class="mb-2 text-black">84-236-3847 333/888</li>
        </ul>
        <b class="text-black mb-4">Email</b>
        <ul>
          <li class="mb-2 text-black">codegym@danang.vn</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-12 text-md-end">
          <p class="text-center text-black"> CodeGym@2022 - &copy; DongLHP</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

