.img-fluid {
  max-width: 50%;
  height: auto;
}

.btn-to-card {
  font-family: "Droid Sans Mono Dotted";
  width: 230px;
  height: 50px;
  background-color: #FFFFFF;
  border: 3px solid deepskyblue;
  border-radius: 12px;
  margin: 10px;
  color: deepskyblue;
  font-size: 20px;
}

.btn-to-card:hover {
  transform: scale(1.1);
  background-color: deepskyblue;
  border: none;
  color: #FFFFFF;
}

.btn-to-buy {
  margin-left: 30px;
  font-family: "Droid Sans Mono Dotted";
  width: 230px;
  height: 50px;
  background-color: deepskyblue;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 20px;
}

.btn-to-buy:hover {
  transform: scale(1.1);
  background-color: #FFFFFF;
  border: 3px solid deepskyblue;
  color: deepskyblue;
}

.btn-quality {
  margin: 20px;
  width: 70px;
  height: 30px;
  background-color: #FFFFFF;
  color: deepskyblue;
  border: 1px solid deepskyblue;
  border-radius: 15px;
}

.money-to-pay {
  margin: 10px 10px;
  color: red;
}


h3::first-letter {
  color: deepskyblue;
}

