* {
  font-family: "Gill Sans MT Ext Condensed Bold";
}

.img-fluid-1 {
  max-width: 50%;
  height: auto;
  animation: showImg 1s ease-in-out 1 forwards;
}
@keyframes showImg {
  from{
    transform: translate(-120%, 0%);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%, 0%);
  }
}

.btn-to-card {
  width: 230px;
  height: 50px;
  background-color: #FFFFFF;
  border: 3px solid deepskyblue;
  border-radius: 12px;
  margin: 10px;
  color: deepskyblue;
  font-size: 20px;
}

.btn-to-card:hover {
  transform: scale(1.1);
  background-color: deepskyblue;
  border: none;
  color: #FFFFFF;
}

.btn-to-buy {
  margin-left: 30px;
  width: 230px;
  height: 50px;
  background-color: deepskyblue;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 20px;
}

.btn-to-buy:hover {
  transform: scale(1.1);
  background-color: #FFFFFF;
  border: 3px solid deepskyblue;
  color: deepskyblue;
}

.btn-quality {
  margin: 20px;
  width: 70px;
  height: 30px;
  background-color: #FFFFFF;
  color: deepskyblue;
  border: 1px solid deepskyblue;
  border-radius: 15px;
}

.money-to-pay {
  margin: 10px 10px;
  color: red;
}

.bg-title {
  border-radius: 25px;
  height: 50px;
  width: 23%;
  background-color: deepskyblue;
  color: #FFFFFF;
}

