<!-- Header Start -->
<div class="container-xxl py-5">
  <div class="container header bg-white p-0">
    <div class="row g-0 align-items-center flex-column-reverse flex-md-row" style="display: flex">
      <div class="col-md-6 p-5 mt-lg-5 animated wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-5 animated mb-4 wow fadeIn" style="font-family: 'Arial Rounded MT Bold'">Fitness & Yoga <span class="text-success"> ABC  </span></h1>
        <p class="animated fadeIn mb-4 pb-2">DongLHP - C0322G1</p>
      </div>

      <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
        <div id="carouselExampleInterval" class="carousel slide animated fadeIn" data-bs-ride="carousel"
             data-wow-delay="0.1s">
          <div class="carousel-inner header-carousel">
            <div class="carousel-item active" data-bs-interval="10000">
              <img class="img-fluid"
                   src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/284635941_1369540886881676_6738945966226846361_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=xijaxCYBiR4AX8MwD95&_nc_oc=AQm1mp5Hdm08KI-MNoBkCfybPgaNuRij4Dygem6HtXtReNjiu62CTWMn_Z8zBYZKcQM&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT8nrJuKE4U8pezb0oowQJCNDMtRpxt7CGWMB9R-dYWfLw&oe=63311B64"
                   alt="" height="600px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid"
                   src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t39.30808-6/284209272_1369540876881677_9065641860014749780_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=EpVxU2dGqVoAX9Dvom_&_nc_ht=scontent.fsgn2-1.fna&oh=00_AT814_OdOqMIY-SgRy57o7nsBprhoxwL6I_zZKwXbTnwCA&oe=63318049"
                   alt="" height="600px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid"
                   src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/285654196_1369540806881684_4465937547093001660_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=cgGmSFpkamcAX9awTTd&_nc_ht=scontent.fsgn2-7.fna&oh=00_AT_Z59Qrn9nU6dNceqksD55FPzbEgaFlNd5ANe7oGXFTLQ&oe=63305A07"
                   alt="" height="600px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid"
                   src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t39.30808-6/284074362_1369540796881685_3866478340493018542_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=lflxdayHKSUAX_uJ7xC&_nc_ht=scontent.fsgn2-2.fna&oh=00_AT9EMN6R0TwKIUkJdTzJfSLg4GdyA3Yf1BspYJ9BkLWGbw&oe=63312876"
                   alt="" height="600px">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img class="img-fluid"
                   src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t39.30808-6/283906784_1369540786881686_2744097602045147789_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=QNArSrZ1m9oAX-ENcAM&_nc_ht=scontent.fsgn2-1.fna&oh=00_AT9CaCrFSu-uEvxmbXlHff62jGXhnVkeeUIYLUBaexD3gg&oe=63321C0C"
                   alt="" height="600px">
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->
