<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto ">
        <div class="card card-signin my-5 login">
          <div class="card-body " style=" border-radius: inherit;">
            <div class="d-flex justify-content-end">
              <span style=" width: 30px; border-radius: 15px;">
                 <button type="button" class="btn-close btn-close-white btn-sm" routerLink=""
                         style="width: 1.5rem; height: 1.5rem; opacity: 66%"></button>
              </span>
            </div>
            <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <h2>Vui Lòng Đăng Nhập</h2>
              <div class="form-label-group input-group">
                <input autofocus formControlName="username" type="text" id="inputEmail" class="form-control text-light"
                       placeholder="TÊN TÀI KHOẢN">
              </div>
              <div class="form-label-group input-group mb-3">
                <input type="password" id="inputPassword" class="form-control" formControlName="password"
                       placeholder="MẬT KHẨU"
                       required>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input me-2" id="customCheck1" formControlName="remember_me">
                <label class="custom-control-label text-light" for="customCheck1">Ghi nhớ đăng nhập lần sau</label>
              </div>
              <div class="mt-3">
                <p><a routerLink="/reset-password" style="text-decoration: none" data-dismiss="modal" class="text-light">Quên mật khẩu?</a></p>
              </div>
              <button class="btn btn-lg btn-secondary text-uppercase submit" type="submit">
                ĐĂNG NHẬP
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

