body {
    margin: 0 auto;
    background-image: url('img/soil-association-pigs-1024x768.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    opacity: 94%;
}

.formRow {
    display: flex;
    justify-content: center;;
}

.formRow_create {
    border-radius: 15px;
    padding: 15px 15px 15px 15px;
    box-shadow: 2px 7px 9px 3px #1b191933;
    background: white;
    opacity: 85%
}

.form-text {
    color: red;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    opacity: 91%;
}

body {
    margin: 0 auto;
    background-image: url('img/soil-association-pigs-1024x768.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.button{
    display: flex;
    justify-content: center
}

.text-light {
    font-size: 0.9rem;
}
